{% extends 'generic.html' %}
{% load static %}

{% block content %}
    <main id="main">
        <section class="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 d-flex align-items-stretch" data-aos="fade-up">
                        <p>Welcome, {{ user.username }}.</p>
                        <p>Reputation, {{ user.judge.reputation }}.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
