{% extends 'generic.html' %}
{% load static %}

{% block content %}
    <main id="main">
        <section class="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 d-flex align-items-stretch" data-aos="fade-up">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
